name: testing
on: push
jobs:
  testing_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '20.19.0'
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm test
      - name: run lint
        run: npm run dev